// Primary Palette
$white: #fff;
$pampas: #ECE9E4;
$timberwolf: #D3D0CB;
$opal: #A3C4BC;
$anzac: #E2C044;
$juniper: #587B7F;
$calypso: #3C719E;
$cape-cod: #393E41;
$black: #000;

// Font
$lato: 'Lato', sans-serif;